
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NHS App - {{ session['organization_short_name'] }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css') }}/{{ session['organization_short_name'] }}.css">
  </head>
  <body class="d-flex flex-column h-100" onload="document.body.onclick = function() {};">
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid">
        {% if session['organization_logo'] %}
        <a class="navbar-brand" href="/home"><img style="height: 50px;" src="{{ session['organization_logo'] }}" alt="NHS App" /></a>
        {% endif %}
        <span class="navbar-text"><strong>NHS App</strong></span>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
          <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('loghours') }}">Add Hours</a>
            <a class="nav-link" href="{{ url_for('viewlogs') }}">View Logs</a>
            {% if is_admin %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('profiles') }}">Profiles</a>
                <a class="dropdown-item" href="#">Transfer</a>
              </ul>  
            </div>
            {% endif %}
          </div>
          <div class="navbar-nav ms-auto">
              <a class="nav-link align-middle" href="{{ url_for('profile') }}"><b>{{ session['full_name'] }}</b> / {{ session['user_email'] }}</a>
              <a class="btn btn-warning" role="button" aria-pressed="true" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- messages -->

    <!-- body -->
    <div class="container p-5 my-5 mx-auto">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    </div>
    
    <!-- footer -->
    <!-- <nav class="navbar navbar-expand-sm bg-body-tertiary fixed-bottom">
      <div class="container-fluid justify-content-center">
        <div class="navbar-nav small">
          <a class="nav-link" href="{{ url_for('tos' )}}">Terms</a>
          <a class="nav-link" href="{{ url_for('privacy' )}}">Privacy</a>
          <a class="nav-link" href="{{ url_for('contact' )}}">Contact Us</a>
        </div>
      </div>
    </nav> -->
    <!-- <footer class="footer p-2 bg-light fixed-bottom"> -->
      <div class="container-fluid small fixed-bottom bg-body-tertiary p-2 text-center">
        <a class="text-muted link-underline link-underline-opacity-0" href="{{ url_for('tos' )}}">Terms</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
        <a class="text-muted link-underline link-underline-opacity-0" href="{{ url_for('privacy' )}}">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
        <a class="text-muted link-underline link-underline-opacity-0" href="{{ url_for('contact' )}}">Contact Us</a>
      </div>
    <!-- </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/nhsapp.js') }}"></script>
  </body>
</html>
