{% extends "base.html" %}

{% block content %}
<style>
  table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
}
</style>
</head>
<body style="background-color:white;">

<div class="container">
  <h2>View Logs</h2>
  <table>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>School ID</th>
      <th>Class Of</th>
      <th>Admin</th>
      <th>Disabled</th>
    </tr>
    {% for user in user_profiles %}
    <tr>
      <td><a href="{{ url_for('profile') }}/{{ user['user_email'] }}">{{ user['full_name'] }}</a></td>
      <td>{{ user['user_email'] }}</td>
      <td>{{ user['school_id'] }}</td>
      <td>{{ user['class_of'] }}</td>
      <td>{{ user['admin_flag'] }}</td>
      <td>{{ user['disabled_flag'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
