{% extends "base.html" %}

{% block content %}
<style>
  table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
}
</style>
</head>
<body style="background-color:white;">

<div class="container">
  <h2>View Logs</h2>
  <form method="POST" action="{{ url_for('viewlogs') }}">
    <table>
      <tr>
        <td>
          <label for="category">Category:</label>
          <select name="filter_category" id="filter_category">
            <option selected value>--pick a Category --</option>
            {% for cat in category_list %}
            <option value="{{ cat['name'] }}" {% if cat['name']==filter_category %} selected {% endif %}>{{ cat['name'] }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <label for="min_hours">Min Hours:</label>
          <input type="number" id="min_hours" name="min_hours" {% if filter_minhours %}value="{{filter_minhours}}"{% endif %}>
        </td>
        <td>
          <label for="max_hours">Max Hours:</label>
          <input type="number" id="max_hours" name="max_hours" {% if filter_maxhours %}value="{{ filter_maxhours }}"{% endif %}>
        </td>
        <td>
          <button type="submit">Filter</button>
        </td>
      </tr>
    </table>
</form>
  <table>
    <tr>
      <th>Category</th>
      <th>Event Name</th>
      <th>Period</th>
      <th>Event Date</th>
      <th>Event Supervisor</th>
      <th>Hours Worked</th>
      <th>Signature / Location</th>
    </tr>
    {% for log in logs %}
    <tr>
      <td>{{ log['category_name'] }}</td>
      {% if is_admin %}
      <td><a href="{{ url_for('loghours') }}/{{ log['verification_log_id'] }}">{{ log['event_name'] }}</a></td>
      {% else %}
      <td>{{ log['event_name'] }}</td>
      {% endif %}
      <td>{{ log['period_name'] }}</td>
      <td>{{ log['event_date'] }}</td>
      <td>{{ log['event_supervisor'] }}</td>
      <td>{{ '%0.1f' % log['hours_worked'] | float }}</td>
      <td>
        {% if log['location_coords'] %}
        <a href="https://maps.google.com/?q={{ log['location_coords'] }}" target=_blank>
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="53" viewBox="0 0 400 140">
          <path stroke="navy" stroke-width="2" fill="none" d="{{ log['supervisor_signature'] }}" />
        </svg>
        {% if log['location_coords'] %}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>Total Count: {{ total_count }}</p>
</div>

{% endblock %}
