{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>

<div class="row justify-content-center mt-3 mb-3">
  <div class="col-md-12">
    <div class="card text-center bg-warning-subtle">
      <div class="card-header h2 bg-warning text-white">TOTAL HOURS</div>
      <div class="card-body">
        <p class="card-text h3">{{ '%0.1f' % total_hours_worked | float }} / {{ '%0.1f' % total_hours_required | float }}</p>
      </div>
      <div class="card-footer text-body-secondary">
        <a class="link-warning" href="{{ url_for('loghours') }}"><span class="h1"><i class="bi bi-plus-square"></i></span></a>
        <span class="me-5">&nbsp;</span>
        <a class="link-warning" href="{{ url_for('viewlogs') }}"><span class="h1"><i class="bi bi-eye"></i></span></a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  {% for user_category in user_categories %}
    {% if user_category['informational_only_flag']|int == 1 %}
      {% if senior_cord_hours >= user_category['hours_required'] %}
        {% set card_color = 'success' %}
      {% else %}
        {% set card_color = 'danger' %}
      {% endif %}
    {% else %}
      {% if user_category['hours_worked'] >= user_category['hours_required'] %}
        {% set card_color = 'success' %}
      {% else %}
        {% set card_color = 'danger' %}
      {% endif %}
    {% endif %}
    <div class="col-md-4 mb-3">
      <div class="card text-center bg-{{ card_color }}-subtle">
        <div class="card-header h2 bg-{{ card_color }} text-white">{{ user_category['category_name'] }}</div>
        <div class="card-body">
          {% if user_category['informational_only_flag']|int == 1 %}
          <p class="card-text h3">{{ '%0.1f' % senior_cord_hours | float }} / {{ '%0.1f' % user_category['hours_required'] | float }}</p>
          {% else %}
          <p class="card-text h3">{{ '%0.1f' % user_category['hours_worked'] | float }} / {{ '%0.1f' % user_category['hours_required'] | float }}</p>
          {% endif %}
        </div>
        {% if user_category['informational_only_flag']|int == 0 %}
        <div class="card-footer text-body-secondary">
          <a class="link-{{ card_color }}" href="{{ url_for('loghours') }}?defaultcategory={{ user_category['category_name'] }}"><span class="h1"><i class="bi bi-plus-square"></i></span></a>
          <span class="me-5">&nbsp;</span>
          <a class="link-{{ card_color }}" href="{{ url_for('viewlogs') }}?filter_category={{ user_category['category_name'] }}"><span class="h1"><i class="bi bi-eye"></i></span></a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<!-- <div class="container">
  <h3>Last 3 Verification Logs</h3>

  <table class="table table-striped">
    <tr class="table-primary">
      <th><span class="small">Category</span><br>Event Name</th>
      <th><span class="small">Period</span><br>Event Date</th>
      <th>Hours</th>
      <th>Signature<br><span class="small">Location</span></th>
    </tr>
    {% for log in logs %}
    <tr class="align-middle">
      <td><span class="small text-muted">{{ log['category_name'] }}</span><br><a href="{{ url_for('loghours') }}/{{ log['verification_log_id'] }}">{{ log['event_name'] }}</a></td>
      <td><span class="small text-muted">{{ log['period_name'] }}</span><br>{{ log['event_date'] }}</td>
      <td><span class="fs-2 text-center align-middle">{{ '%0.1f' % log['hours_worked'] | float }}</span></td>
      <td>
        {% if log['supervisor_signature'] %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="35" viewBox="0 0 400 140">
        <path stroke="navy" stroke-width="2" fill="none" d="{{ log['supervisor_signature'] }}" />
        </svg>
        {% else %}
        <span class="badge bg-danger">No Signature</span>
        {% endif %}
  
        <p>
        {% if log['location_coords'] %}
        <a href="https://maps.google.com/?q={{ log['location_coords'] }}" target=_blank>
            {% if log['location_accuracy'] and log['location_accuracy']|int <= 25 %}
            <span class="badge bg-info">High Accuracy</span>
            {% elif log['location_accuracy']|int > 25 and log['location_accuracy']|int <= 100 %}
            <span class="badge bg-warning">Medium Accuracy</span>
            {% elif log['location_accuracy']|int > 100 %}
            <span class="badge bg-warning">Low Accuracy</span>
            {% endif %}
        </a>
        {% else %}
            <span class="badge bg-danger">No Location</span>
        {% endif %}
        </p>
  
      </td>
    </tr>
    {% endfor %}
  </table>  
</div> -->

{% endblock %}
