{% extends "base.html" %}

<!-- body -->
{% block content %}
<h2>Event Details</h2>
{% if log_id %}
<form action="{{ url_for('loghours') }}/{{ log_id }}" id="logForm" method="POST" class="was-validated">
{% else %}
<form action="{{ url_for('loghours') }}" id="logForm" method="POST" class="was-validated">
{% endif %}
    <div class="form-floating mb-3 mt-3">
    {% if log_id %}
        <input class="form-control" type="text" name="event_category" id="event_category" value="{{ event_category }}" disabled />
        <label class="form-label" for="event_category">Category</label>
    {% else %}
        <select class="form-select" name="event_category" id="event_category" required>
            <option disabled selected value>--pick a Category --</option>
            {% for cat in category_list %}
            <option value="{{ cat['name'] }}" {% if cat['name'] == event_category %}selected{% endif %}>{{ cat['name'] }}</option>
            {% endfor %}
        </select>
        <label class="form-label" for="event_category">Category</label>
    {% endif %}
    </div>

    <div class="form-floating mb-3 mt-3">
        <input class="form-control" type="text" id="event_name" name="event_name" placeholder="Event Name" {% if event_name %}value="{{ event_name }}"{% endif %} required oninput="getLocation();"
        {% if log_id and not is_admin %}disabled{% endif %}>
        <label for="event_name">Event Name</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input class="form-control" type="date" id="event_date" name="event_date" placeholder="Enter event date" value="{{ event_date }}" required {% if log_id and not is_admin %}disabled{% endif %}>
        <label for="event_date">Event Date</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input class="form-control" type="text" id="event_supervisor" name="event_supervisor" placeholder="Enter supervisor name" {% if event_supervisor %}value="{{ event_supervisor }}"{% endif %} {% if log_id and not is_admin %}disabled{% endif %}>
        <label for="event_supervisor">Event Supervisor</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input class="form-control" type="number" id="hours_worked" name="hours_worked" step="0.5" min="0" max="16" value="{{ hours_worked }}" required onchange="(function(el){el.value=parseFloat(el.value).toFixed(1);})(this)" {% if log_id and not is_admin %}disabled{% endif %}>
        <label for="hours_worked">Hours Worked</label>
    </div>

    {% if not log_id %}
    <iframe src="{{url_for('static', filename='img/signature.svg')}}" scrolling="no" width="100%"></iframe>
    <p><button type="button" class="btn btn-danger" onclick="clearSignature()">Clear signature</button></p>

    <input type="hidden" id="pathdata" name="pathdata" value="" required>
    <input type="hidden" id="coords" name="coords" value="">
    <input type="hidden" id="coords_accuracy" name="coords_accuracy" value="">
    {% else %}
        {% if supervisor_signature %}
        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="140" viewBox="0 0 400 140">
        <rect id="r" width="100%" height="100%" fill="#ffe"/>
        <path stroke="navy" stroke-width="2" fill="none" d="{{ supervisor_signature }}" />
        </svg>
        {% else %}
        <span class="badge bg-danger">No Signature</span>
        {% endif %}

        {% if is_admin %}
            <p>
            {% if location_coords %}
            <a href="https://maps.google.com/?q={{ location_coords }}" target=_blank>
                {% if location_accuracy and location_accuracy|int <= 25 %}
                <span class="badge bg-info">High Accuracy</span>
                {% elif location_accuracy|int > 25 and location_accuracy|int <= 100 %}
                <span class="badge bg-warning">Medium Accuracy</span>
                {% elif location_accuracy|int > 100 %}
                <span class="badge bg-warning">Low Accuracy</span>
                {% endif %}
            </a>
            {% else %}
                <span class="badge bg-danger">No Location</span>
            {% endif %}
            </p>
        {% endif %}
    {% endif %}
    <br />
    {% if log_id %}
        {% if is_admin %}
        <input class="form-control btn btn-primary" type="button" value="Update Verification Log" onClick="document.getElementById('logForm').submit();">
        {% endif %}
    {% else %}
    <input class="form-control btn btn-primary" type="button" value="Save Verification Log" onClick="showSignature()">
    {% endif %}
</form>

{% endblock %}