{% extends "base.html" %}

<!-- body -->
{% block content %}
<h2>Event Details</h2>
{% if log_id %}
<form action="{{ url_for('loghours') }}/{{ log_id }}" id="logForm" method="POST" class="was-validated">
{% else %}
<form action="{{ url_for('loghours') }}" id="logForm" method="POST" class="was-validated">
{% endif %}
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <select class="form-select" name="event_category" id="event_category" required>
                    <option disabled value {% if not event_category %}selected{% endif %}></option>
                    {% for cat in category_list %}
                    <option value="{{ cat['name'] }}" {% if cat['name'] == event_category %}selected{% endif %}>{{ cat['name'] }}</option>
                    {% endfor %}
                </select>
                <label class="form-label" for="event_category">Category</label>
            </div>
        </div>

        <div class="col-md-8 mb-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="event_name" name="event_name" {% if event_name %}value="{{ event_name }}"{% endif %} required oninput="getLocation();"
                {% if log_id and not is_admin %}disabled{% endif %}>
                <label for="event_name">Event Name</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input class="form-control" type="number" id="hours_worked" name="hours_worked" step="0.5" max="16" {% if hours_worked %}value="{{ hours_worked }}"{% endif %} required onchange="roundHours(this)" {% if log_id and not is_admin %}disabled{% endif %}>
                <label for="hours_worked">Hours Worked</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="event_date" name="event_date" {% if event_date %}value="{{ event_date }}"{% endif %} required {% if log_id and not is_admin %}disabled{% endif %}>
                <label for="event_date">Event Date</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="event_supervisor" name="event_supervisor" {% if event_supervisor %}value="{{ event_supervisor }}"{% endif %} {% if log_id and not is_admin %}disabled{% endif %}>
                <label for="event_supervisor">Event Supervisor</label>
            </div>
        </div>
    </div>

    {% if log_id %}
        {% if supervisor_signature %}
        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="140" viewBox="0 0 400 140">
        <rect id="r" width="100%" height="100%" fill="#ffe"/>
        <path stroke="navy" stroke-width="2" fill="none" d="{{ supervisor_signature }}" />
        </svg>
        {% else %}
        <span class="badge bg-danger rounded-pill">No Signature</span>
        {% endif %}

        {% if is_admin %}
            <!-- Location data -->
            <p>
            {% if location_coords %}
            <a href="https://maps.google.com/?q={{ location_coords }}" target=_blank>
                {% if location_accuracy and location_accuracy|int <= 25 %}
                <span class="badge bg-info rounded-pill">High Accuracy</span>
                {% elif location_accuracy|int > 25 and location_accuracy|int <= 100 %}
                <span class="badge bg-warning rounded-pill">Medium Accuracy</span>
                {% elif location_accuracy|int > 100 %}
                <span class="badge bg-warning rounded-pill">Low Accuracy</span>
                {% endif %}
            </a>
            {% else %}
                <span class="badge bg-danger rounded-pill">No Location</span>
            {% endif %}
            </p>
        {% endif %}
    {% else %}
        <iframe src="{{url_for('static', filename='img/signature.svg')}}" scrolling="no" width="100%" height="100%"></iframe>
        <p><button type="button" class="btn btn-danger shadow-sm" onclick="clearSignature()">Clear signature</button></p>

        <input type="hidden" id="pathdata" name="pathdata" value="" required>
        <input type="hidden" id="coords" name="coords" value="">
        <input type="hidden" id="coords_accuracy" name="coords_accuracy" value="">
    {% endif %}

    <p>
    <div class="mt-4">
    {% if log_id %}
        {% if is_admin %}
        <input class="form-control btn btn-primary shadow-sm mt-3" type="submit" value="Update Verification Log">
        {% endif %}
    {% else %}
    <input class="form-control btn btn-primary shadow-sm mt-3" type="button" value="Save Verification Log" onClick="showSignature()">
    {% endif %}
    </div>
    </p>

    {% if is_admin %}
    <div class="row mt-5">
        <!-- User Agent info -->
        {% if ip_address %}
        <div class="col-lg-3 mb-1">
            <div class="form-floating input-group">
                <input type="text" class="form-control" value="{{ ip_address }}" disabled>
                {% if mobile_flag|int == 1 %}
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Mobile Device"><i class="bi bi-phone"></i></span>
                {% endif %}
                <span class="input-group-text"><a class="link-underline link-underline-opacity-0" href="https://whatismyipaddress.com/ip/{{ ip_address }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></span>
                <label for="ip_address">Submitted from IP Address</label>
            </div>
        </div>
        {% endif %}

        {% if user_agent %}
        <div class="col-lg-9 mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" name="user_agent" value="{{ user_agent }}" disabled>
                <label for="user_agent">Browser/Platform</label>
            </div>
        </div>
        {% endif %}

        <!-- Who Columns -->
        {% if created_at %}
        <div class="col-lg-3 mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" name="user_agent" value="{{ created_at }}" disabled>
                <label for="user_agent">Created At</label>
            </div>
        </div>
        {% endif %}
        {% if created_by_name %}
        <div class="col-lg-3 mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" name="user_agent" value="{{ created_by_name }}" disabled>
                <label for="user_agent">Created By</label>
            </div>
        </div>
        {% endif %}
        {% if updated_at %}
        <div class="col-lg-3 mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" name="user_agent" value="{{ updated_at }}" disabled>
                <label for="user_agent">Last Updated At</label>
            </div>
        </div>
        {% endif %}
        {% if updated_by_name %}
        <div class="col-lg-3 mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" name="user_agent" value="{{ updated_by_name }}" disabled>
                <label for="user_agent">Last Updated By</label>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</form>

{% endblock %}