{% extends "base.html" %}

<!-- body -->
{% block content %}
<h2>Organization Profile</h2>

<div class="row mt-4">
    <div class="col-md-8">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="name" name="name" value="{{ organization_rv[0]['name'] }}" disabled>
            <label for="name">Organization Name</label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="short_name" name="short_name" value="{{ organization_rv[0]['short_name'] }}" disabled>
            <label for="short_name">Short Name</label>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-floating mb-3 input-group">
            <input class="form-control" type="text" id="logo" name="logo" value="{{ organization_rv[0]['logo'] }}" disabled>
            <span class="input-group-text"><a class="link-underline link-underline-opacity-0" href="{{ organization_rv[0]['logo'] }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></span>
            <label for="logo">Logo</label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="domain_root" name="domain_root" value="{{ organization_rv[0]['domain_root'] }}" disabled>
            <label for="domain_root">Domain Root</label>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="support_email" name="support_email" value="{{ organization_rv[0]['support_email'] }}" disabled>
            <label for="support_email">Support Email</label>
        </div>
    </div>

    {% if is_admin %}
    <div class="col-md-6 mt-5">
        <form method="POST" action="{{ url_for('deleteclassyear') }}">
            <div class="form-floating mb-3">
                <select class="form-select" id="class_year" name="class_year" required>
                    <option value="" disabled selected>Select Class Year to Delete</option>
                    {% for year in class_years %}
                    <option value="{{ year['class_of'] }}">{{ year['class_of'] }}</option>
                    {% endfor %}
                </select>
                <label for="class_year">Delete Class Year</label>
            </div>
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this class year? This will delete all associated students and logs.')">
                Delete Class Year
            </button>
        </form>
    </div>
    {% endif %}

</div>

{% endblock %}