{% extends "base.html" %}

{% block content %}
<h2>User Profiles</h2>
<form method="GET" action="{{ url_for('profiles') }}" id="filterForm">
  <div class="row">
    <div class="col-lg-2">
      <div class="form-floating mb-3 mt-3">
        <select class="form-select clear-ok" name="filter_class_year_name" id="filter_class_year_name">
          <option disabled selected value></option>
          {% for class_year in class_years_rv %}
          <option value="{{ class_year['name'] }}" {% if class_year['name'] == filter_class_year_name %}selected{% endif %}>{{ class_year['name'] }}</option>
          {% endfor %}
        </select>
        <label for="filter_class_year_name">Class Year</label>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-floating mb-3 mt-3">
        <input class="form-control clear-ok" name="filter_name" id="filter_name" {% if filter_name %}value="{{filter_name}}"{% endif %}>
        <label for="filter_name">Name/Email</label>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-floating mb-3 mt-3">
        <input class="form-control clear-ok" type="text" id="filter_school_id" name="filter_school_id" {% if filter_school_id %}value="{{filter_school_id}}"{% endif %}>
        <label for="filter_school_id">School ID</label>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-floating mb-3 mt-3">
        <input class="btn btn-primary btn-lg" type="submit" style="width: 100%;" value="Filter">
      </div>
    </div>  
    <div class="col-lg-1">
      <div class="form-floating mb-3 mt-3">
        <input class="btn btn-secondary btn-lg" style="width: 100%;" type="submit" value="Clear" onclick="clearFilterForm();">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <input class="form-check-input clear-ok" type="checkbox" id="filter_admin_flag" name="filter_admin_flag" value=1 {% if filter_admin_flag %} checked {% endif %}>
      <label class="form-check-label" for="filter_admin_flag">Admins Only</label>
    </div>
    <div class="col-lg-2">
      <input class="form-check-input clear-ok" type="checkbox" id="filter_disabled_flag" name="filter_disabled_flag" value=1 {% if filter_disabled_flag %} checked {% endif %}>
      <label class="form-check-label" for="filter_disabled_flag">Disabled Users</label>
    </div>
  </div>
</form>

<div class="row mt-4 justify-content-center">
  {% for user in user_profiles %}
  <div class="col-lg-3 mt-1">
    <div class="card text-center mb-2 shadow-sm">
      <h5 class="card-header"><a class="link-underline link-underline-opacity-0" href="{{ url_for('profile') }}/{{ user['user_email'] }}">{{ user['full_name_prefix'] }}</a></h5>
      <span class="text-center">
        <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile') }}/{{ user['user_email'] }}">
          <img class="card-img-top mt-3 shadow-sm" src="{{ user['photo_url'] }}" style="max-width: 100px;">
        </a>
      </span>
      <div class="card-body">
        <div class="card-text mt-1">{{ user['user_email_prefix'] }}</div>
        
        <div class="card-text h6 mt-1">
        {% if user['class_year_name'] %}
          {{ user['class_year_name'] }}
        {% else %}
          &nbsp;
        {% endif %}
        </div>

        <div class="mt-2">
          {% if user['admin_flag']|int == 1 %}
          <div class="card-text badge bg-danger rounded-pill">Admin</div>
          {% else %}
          &nbsp;
          {% endif %}
    
          {% if user['disabled_flag']|int == 1 %}
          <span class="card-text badge bg-secondary rounded-pill">Disabled</span>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <span class="card-text h6">
          {% if user['school_id'] %}
            <p class="card-text">ID # {{ user['school_id'] }}</p>
          {% else %}
            <p class="card-text">&nbsp;</p>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

Total count: {{ total_count }}

{% endblock %}
