{% extends "base.html" %}

{% block content %}

<h2>Profile</h2>
<form action="{{ url_for('profile') }}/{{ user_profile[0]['user_email'] }}/update" method="POST" class="was-validated">
  <img class="img-fluid rounded shadow" src="{{ user_profile[0]['photo_url'] }}">

  <div class="form-floating mb-3 mt-3">
    <input class="form-control" type="text" id="full_name" name="full_name" value="{{ user_profile[0]['full_name'] }}" disabled>
    <label for="full_name">Full Name</label>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input class="form-control" type="text" id="user_email" name="user_email" value="{{ user_profile[0]['user_email'] }}" disabled>
    <label for="user_email">Email Address</label>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input class="form-control" type="text" id="school_id" name="school_id" placeholder="" value="{{ user_profile[0]['school_id'] }}" required>
    <label for="school_id">School ID</label>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <select class="form-select" name="class_of" id="class_of" required onchange="document.getElementById('class_year_name').value = '';">
            <option disabled selected value>--select your Class Year--</option>
            {% for class_year in class_years %}
            <option value="{{ class_year['year_num'] }}" {% if user_profile[0]['class_of']|int == class_year['year_num'] %} selected {% endif %}>{{ class_year['year_num'] }}</option>
            {% endfor %}
          </select>
        <label class="form-label" for="class_of">Class Of</label>
      </div>
    </div>
    <div class="col">
      {% if user_profile[0]['class_year_name'] %}
      <!-- <h1><span class="badge badge bg-info">{{ user_profile[0]['class_year_name'] }}</span></h1> -->
      <!-- <input class="form-control bg-warning" type="text" id="class_year_name" name="class_year_name" value="{{ user_profile[0]['class_year_name'] }}" disabled> -->
      <div class="d-grid gap-2">
      <button type="button" class="btn btn-warning btn-lg">{{ user_profile[0]['class_year_name'] }}</button>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input class="form-control novalidate" type="text" id="team_name" name="team_name" placeholder="" value="{{ user_profile[0]['team_name'] }}">
    <label for="team_name">Team Name (if any)</label>
  </div>

  {%if is_admin and user_profile[0]['user_email'] != session['user_email'] %}
  <input type="checkbox" id="admin_flag" name="admin_flag" value=1 {% if user_profile[0]['admin_flag'] == 1 %} checked {% endif %}>
  <label for="admin_flag"> Admin Flag</label><br>
  <input type="checkbox" id="disabled_flag" name="disabled_flag" value=1 {% if user_profile[0]['disabled_flag'] == 1 %} checked {% endif %}>
  <label for="disabled_flag"> Disabled Flag</label><br>
  {% endif %}

  <input class="form-control btn btn-primary" type="submit" value="Update Profile">

{% endblock %}
