{% extends "header.html" %}

{% block content %}
<style>
  table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
}
</style>
</head>
<body style="background-color:white;">

<div class="container">
  <h2>User Profiles</h2>
  <form method="POST" action="{{ url_for('profiles') }}">
    <table>
      <tr>
        <td>
          <label for="name_filter">Full Name</label>
          <input name="name_filter" id="name_filter" {% if name_filter %}value="{{name_filter}}"{% endif %}>
        </td>
        <td>
          <label for="school_id">School ID:</label>
          <input type="number" id="school_id" name="school_id" {% if school_id %}value="{{school_id}}"{% endif %}>
        </td>
        <td>
          <label for="class_filter">Class Year</label>
          <input type="number" id="class_filter" name="class_filter" {% if class_filter %}value="{{ class_filter }}"{% endif %}>
        </td>
        <td>
          <button type="submit">Filter</button>
        </td>
      </tr>
    </table>
</form>
  <table>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>School ID</th>
      <th>Class Of</th>
      <th>Admin</th>
      <th>Disabled</th>
    </tr>
    {% for user in user_profiles %}
    <tr>
      <td><a href="{{ url_for('profile') }}/{{ user['user_email'] }}">{{ user['full_name'] }}</a></td>
      <td>{{ user['user_email'] }}</td>
      <td>{{ user['school_id'] }}</td>
      <td>{{ user['class_of'] }}</td>
      <td>{{ user['admin_flag'] }}</td>
      <td>{{ user['disabled_flag'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
