{% extends "base.html" %}

<!-- body -->
{% block content %}
<h2>Transfer Hours</h2>
<form action="{{ url_for('transfer') }}" id="transferForm" method="POST" class="was-validated" id="transferForm">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <select class="form-select" name="from_category" id="from_category" required>
                    <option disabled selected value></option>
                    <option value="NHS" {% if 'NHS' == from_category %}selected{% endif %}>NHS</option>
                    <option value="Other" {% if 'Other' == from_category %}selected{% endif %}>Other</option>
                </select>
                <label class="form-label" for="from_category">From Category</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <select class="form-select" name="to_category" id="to_category" required>
                    <option disabled selected value></option>
                    <option value="NHS" {% if 'NHS' == to_category %}selected{% endif %}>NHS</option>
                    <option value="Other" {% if 'Other' == to_category %}selected{% endif %}>Other</option>
                </select>
                <label class="form-label" for="to_category">To Category</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input class="form-control" type="number" id="transfer_hours" name="transfer_hours" step="0.05" min="0" value="{{ transfer_hours if transfer_hours }}" required onchange="roundHours(this)">
                <label for="transfer_hours">Transfer Hours</label>
            </div>
        </div>
    </div>

    <p>
    <input class="form-control btn btn-primary shadow-sm mt-3" type="button" value="Transfer Hours" onClick="document.getElementById('transferForm').submit();">
    </p>
</form>

{% endblock %}