{% extends "base.html" %}

{% block content %}

<h2>User Hours</h2>
<form method="GET" action="{{ url_for('userhours') }}" id="filterForm">
<div class="row mt-4">

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <select class="form-select clear-ok" name="filter_period" id="filter_period">
        <option selected value></option>
        {% for period in period_list %}
        <option value="{{ period['name'] }}" {% if period['name']==filter_period %} selected {% endif %}>{{ period['name'] }}</option>
        {% endfor %}
      </select>
      <label for="filter_period">Period</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <select class="form-select clear-ok" name="filter_class_year_name" id="filter_class_year_name">
        <option disabled selected value></option>
        {% for class_year in class_years_rv %}
        <option value="{{ class_year['name'] }}" {% if class_year['name'] == filter_class_year_name %}selected{% endif %}>{{ class_year['name'] }}</option>
        {% endfor %}
      </select>
      <label for="filter_class_year_name">Class Year</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <input class="form-control clear-ok" name="filter_name" id="filter_name" {% if filter_name %}value="{{filter_name}}"{% endif %}>
      <label for="filter_name">Name/Email</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <input class="btn btn-primary btn-lg shadow-sm" type="submit" style="width: 100%;" value="Filter">
    </div>
  </div>

  <div class="col-md-1">
    <div class="form-floating mb-3">
      <input class="btn btn-secondary btn-lg shadow-sm" style="width: 100%;" type="submit" value="Clear" onclick="clearFilterForm();">
    </div>
  </div>
</div>
</form>

<table class="table table-striped mb-5">
  <tr class="table-primary align-middle">
    <th>Student Name</th>
    {% for cat in category_rv %}
    <th>{{ cat['name'] }}</th>
    {% endfor %}
  </tr>
  {% for uh in user_hours_rv %}
  <tr class="align-middle">
    <td>{{ uh['full_name'] }}</td>
    <td>{{ uh['hours_worked'] }}</td>
  </tr>
  {% endfor %}
</table>

<div class="container mb-4 fixed-bottom">
  <ul class="pagination justify-content-center">
    {% if page_num > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('viewlogs', filter_category=filter_category, filter_name=filter_name, filter_period=filter_period,
      filter_min_hours=filter_min_hours, filter_max_hours=filter_max_hours, p=page_num-1) }}">
      Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}
    {% for i in range(1, total_pages + 1) %}
    <li class="page-item {% if i == page_num %}active{% endif %}">
      <a class="page-link" href={{ url_for('viewlogs', filter_category=filter_category, filter_name=filter_name, filter_period=filter_period,
      filter_min_hours=filter_min_hours, filter_max_hours=filter_max_hours, p=i) }}>{{ i }}</a>
    </li>
    {% endfor %}
    {% if page_num < total_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('viewlogs', filter_category=filter_category, filter_name=filter_name, filter_period=filter_period,
      filter_min_hours=filter_min_hours, filter_max_hours=filter_max_hours, p=page_num+1) }}">
      Next</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
