{% extends "base.html" %}

{% block content %}

<h2>User Hours</h2>

<form method="GET" action="{{ url_for('userhours') }}" id="filterForm">
<div class="row mt-4">
  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <select class="form-select clear-ok" name="filter_period" id="filter_period">
        <option disabled selected value></option>
        {% for period in period_list %}
        <option value="{{ period['name'] }}" {% if period['name']==filter_period %} selected {% endif %}>{{ period['name'] }}</option>
        {% endfor %}
      </select>
      <label for="filter_period">Period</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <select class="form-select clear-ok" name="filter_class_year_name" id="filter_class_year_name">
        <option disabled selected value></option>
        {% for class_year in class_years_rv %}
        <option value="{{ class_year['name'] }}" {% if class_year['name'] == filter_class_year_name %}selected{% endif %}>{{ class_year['name'] }}</option>
        {% endfor %}
      </select>
      <label for="filter_class_year_name">Class Year</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <input class="form-control clear-ok" type="text" id="filter_school_id" name="filter_school_id" value="{{ filter_school_id if filter_school_id }}">
      <label for="filter_school_id">School ID</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <input class="form-control clear-ok" name="filter_name" id="filter_name" value="{{ filter_name if filter_name }}">
      <label for="filter_name">Name/Email</label>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-floating mb-3">
      <input class="btn btn-primary btn-lg shadow-sm" type="submit" style="width: 100%;" value="Filter">
    </div>
  </div>

  <div class="col-lg-1">
    <div class="form-floating mb-3">
      <input class="btn btn-secondary btn-lg shadow-sm" style="width: 100%;" type="submit" value="Clear" onclick="clearFilterForm();">
    </div>
  </div>

  <div class="col-lg-1 text-center">
    <div class="form-floating mb-3">
      <a href="{{ url_for('userhours', download=1, filter_period=filter_period, filter_class_year_name=filter_class_year_name, filter_school_id=filter_school_id, filter_name=filter_name) }}">
      <!-- <button class="btn btn-warning shadow-sm" style="width: 100%;"> -->
        <i class="bi bi-box-arrow-down text-primary h1"></i>
      <!-- </button> -->
      </a>
    </div>
  </div>
</div>
</form>

<table class="table table-striped mb-5">
  <tr class="table-primary align-middle">
    <th>
      Student<br>
    </th>
    {% for cat in category_rv %}
    <th class="text-center">
      {{ cat['name'] }}
    </th>
    {% endfor %}
  </tr>

  {% set ns = namespace(i=0) %}
  {% for uh in user_hours_rv %}
    {% set ns.i = ns.i + 1 %}

    {% if ns.i == 1 %}
    <tr class="align-middle">
      <td>
        <a class="link-underline link-underline-opacity-0" href="{{ url_for('viewlogs', filter_period=filter_period, filter_name=uh['user_email']) }}">{{ uh['full_name_prefix'] }}</a>
        <br>
        <span class="small">{{ uh['school_id'] }}</span>
      </td>
    {% endif %}

      <td class="text-center">
        {% if uh['hours_worked']|int >= uh['hours_required']|int %}
        {% set text_color = "text-success h5" %}
        {% else %}
        {% set text_color = "text-danger h5" %}
        {% endif %}
        <a class="link-underline link-underline-opacity-0 {{ text_color }}" href="{{ url_for('viewlogs', filter_period=filter_period, filter_name=uh['user_email'], filter_category=uh['category_name']) }}">
        {{ '%0.1f' % uh['hours_worked'] | float }}
        </a>
        <br>
        <span class="text-muted small">{{ '%0.1f' % uh['hours_required'] | float }}</span>
      </td>

    {% if ns.i == category_rv|length %}
    {% set ns.i = 0 %}
    </tr>
    {% endif %}
  {% endfor %}
</table>


<!-- Pagination -->
{% if total_pages > 1 %}
<div class="container">
  <ul class="pagination justify-content-center">
    {% if page_num > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('userhours', filter_class_year_name=filter_class_year_name, filter_name=filter_name, filter_period=filter_period, 
      filter_school_id=filter_school_id, p=1) }}">First</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
    {% endif %}

    {% if page_num > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('userhours', filter_class_year_name=filter_class_year_name, filter_name=filter_name, filter_period=filter_period, 
      filter_school_id=filter_school_id, p=page_num-1) }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}

    {% set start_page = page_num - 3 if page_num - 3 > 1 else 1 %}
    {% set end_page = page_num + 3 if page_num + 3 < total_pages else total_pages %}
    {% for i in range(start_page, end_page + 1) %}
    <li class="page-item {% if i == page_num %}active{% endif %}">
      <a class="page-link" href="{{ url_for('userhours', filter_class_year_name=filter_class_year_name, filter_name=filter_name, filter_period=filter_period, 
      filter_school_id=filter_school_id, p=i) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {% if page_num < total_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('userhours', filter_class_year_name=filter_class_year_name, filter_name=filter_name, filter_period=filter_period, 
      filter_school_id=filter_school_id, p=page_num+1) }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}

    {% if page_num < total_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('userhours', filter_class_year_name=filter_class_year_name, filter_name=filter_name, filter_period=filter_period, 
      filter_school_id=filter_school_id, p=total_pages) }}">Last</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

Total count: {{ total_count }}
{% endblock %}
