{% extends "header.html" %}

{% block content %}
<style>
  table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
}
</style>
</head>
<body style="background-color:white;">

<div class="container">
  <h2>View Logs</h2>
  <table>
    <tr>
      <th>Category</th>
      <th>Event Name</th>
      <th>Period</th>
      <th>Event Date</th>
      <th>Event Supervisor</th>
      <th>Hours Worked</th>
      <th>Signature / Location</th>
    </tr>
    {% for log in logs %}
    <tr>
      <td>{{ log['category_name'] }}</td>
      <td><a href="{{ url_for('loghours') }}/{{ log['verification_log_id'] }}">{{ log['event_name'] }}</a></td>
      <td>{{ log['period_name'] }}</td>
      <td>{{ log['event_date'] }}</td>
      <td>{{ log['event_supervisor'] }}</td>
      <td>{{ '%0.1f' % log['hours_worked'] | float }}</td>
      <td>
        <a href="https://maps.google.com/?q={{ log['location_coords'] }}" target=_blank>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="47" viewBox="0 0 400 125">
        <path stroke="navy" stroke-width="2" fill="none" d="{{ log['supervisor_signature'] }}" />
        </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>Total Count: {{ total_count }}</p>
</div>

{% endblock %}
